# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
front-SI/dist
front-SI/tmp
front-SI/out-tsc
front-SI/bazel-out

# Node
front-SI/node_modules
front-SI/npm-debug.log
front-SI/yarn-error.log

# IDEs and editors
front-SI/.idea/
front-SI/.project
front-SI/.classpath
front-SI/.c9/
front-SI/*.launch
front-SI/.settings/
front-SI/*.sublime-workspace

# Visual Studio Code
front-SI/.vscode/*
front-SI/!.vscode/settings.json
front-SI/!.vscode/tasks.json
front-SI/!.vscode/launch.json
front-SI/!.vscode/extensions.json
front-SI/.history/*

# Miscellaneous
front-SI/.angular/cache
front-SI/.sass-cache/
front-SI/connect.lock
front-SI/coverage
front-SI/libpeerconnection.log
front-SI/testem.log
front-SI/typings

# System files
.DS_Store
Thumbs.db
