.btn-clean-field {
     background-color: lightgrey;
    height: 55px;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: center; 
    align-items: center; 
}

